div{
    .row{
        .carousel{
            padding: 0px;
            height: 310px;
            margin-bottom: 10px;
            img{
                height: 280px;
            }
        }  
    }
}